.w3-camo-brown
{color:#fff;background-color:#594d45}

.w3-camo-red
{color:#fff;background-color:#79533d}

.w3-camo-olive
{color:#fff;background-color:#595142}

.w3-camo-field
{color:#fff;background-color:#745d46}

.w3-camo-earth
{color:#fff;background-color:#ac7e54}

.w3-camo-sand
{color:#fff;background-color:#a9947b}

.w3-camo-tan
{color:#fff;background-color:#b49d80}

.w3-camo-sandstone
{color:#fff;background-color:#bcab90}

.w3-camo-dark-green
{color:#fff;background-color:#535640}

.w3-camo-forest
{color:#fff;background-color:#54504b}

.w3-camo-light-green
{color:#fff;background-color:#63613e}

.w3-camo-green
{color:#fff;background-color:#4a5444}

.w3-camo-dark-gray,.w3-camo-dark-grey
{color:#fff;background-color:#5c5c5b}

.w3-camo-gray,.w3-camo-grey
{color:#fff;background-color:#9495a5}

.w3-camo-black
{color:#fff;background-color:#373538}

.w3-vivid-pink
{color:#fff;background-color:#ffb5bA}
.w3-vivid-red
{color:#fff;background-color:#be0032}
.w3-vivid-orange
{color:#fff;background-color:#f38400}
.w3-vivid-yellow
{color:#fff;background-color:#f3c300}
.w3-vivid-green
{color:#fff;background-color:#008856}
.w3-vivid-blue
{color:#fff;background-color:#00a1c2}
.w3-vivid-black
{color:#fff;background-color:#000}
.w3-vivid-white
{color:#000;background-color:#fff}

.w3-vivid-purple
{color:#fff;background-color:#9a4eae}
.w3-vivid-purple
{color:#fff;background-color:#9a4eae}
.w3-vivid-yellowish-pink
{color:#fff;background-color:#ffb7a5}
.w3-vivid-reddish-orange
{color:#fff;background-color:#e25822}
.w3-vivid-orange-yellow
{color:#fff;background-color:#f6a600}
.w3-vivid-greenish-yellow
{color:#fff;background-color:#dcd300}
.w3-vivid-yellow-green
{color:#fff;background-color:#8db600}
.w3-vivid-yellowish-green
{color:#fff;background-color:#27a64c}
.w3-vivid-bluish-green
{color:#fff;background-color:#008882}
.w3-vivid-greenish-blue
{color:#fff;background-color:#0085a1}
.w3-vivid-purplish-blue
{color:#fff;background-color:#30267a}
.w3-vivid-reddish-purple
{color:#fff;background-color:#870074}
.w3-vivid-purplish-red
{color:#fff;background-color:#ce4676}